body, html {
  height: 100%;
  margin: 0;
  background:  url("background.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
box-sizing: border-box;
}
marquee {
  font-family: monospace;
}
.watch {
  font-family: Georgia;
  font: 30px;
  color: white;
  font-weight: bolder;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.imagec{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  display: inline-flex;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-align: center;
  color: white;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
h3 span{
  background-color: white;
}
.end {
  font-family: monospace;
  font-size: 15px;
  color: white;
}
footer {
 text-align: center;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 17px;
 color: white;
}
