*{
  box-sizing: border-box
}
/*margin for the webpage*/
body{
  margin: 20;
  background-color: gainsboro;
}
/*Style of the header*/
.header{
  font-family: verdana;
  background-color: black;
  color: palevioletred;
  padding: 20px;
  text-align: justify;
}
/*navigation bar set up*/
.topnav{
  background-color: rgb(243, 170, 195);
  overflow: hidden;
  color: black;
  font-family: Geneva;
}
.topnav a{
  color: gray;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
.topnav a:hover{
  background-color: pink;
  color: rgba(75, 73, 69, 0.781);
}
/*Paragraphs set up*/
.column {
  font-family: Tahoma;
  float: left;
  width: 33.33%;
  padding: 15px 15px;
  color: palevioletred;
}
/*Learning*/